body {
    background-color: rgb(43, 43, 43);
    background-image: url('fundo2.jpg');
    background-size:cover;
}
main {
    width: 40vw;
    height: 550px;
    border-radius: 10px;
    margin: 20px auto;
    overflow-y:hidden;
    display: block;
    
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}
#geral {
    border: 1px solid rgb(255, 115, 0);
    width: 60%;
    height: 90%;
    margin: 25px auto;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
}
#borda {

    width: 95%;
    height: 95%;
    margin: 11px auto;
    position: relative;
    background-color: black;
    border-radius: 10px;
}
#display {
    width: 85%;
    margin: 10px auto;
    position: relative;
    height: 150px;
    background-color: rgb(0, 0, 0);
    color: white;
}
#display::after {
    content: '';
    border: 2px solid orangered;
    position: absolute;
    width: 99%;
    left: -1px;
    top: 155px;
}
#contas {
    top: 10px; 
    position: relative;
    height: 45px;
    width: 100%;
    text-align: end;
    font-size: 25pt;
    padding:15px 5px 0 0;
    transition: .3s;
    color: rgba(255, 255, 255, 0.507);
    overflow-wrap: break-word;
    background-color: black;
}

#resultado {
    position: relative;
    top: 10px;
    height: 65px;
    transition: .3s;
    text-align: end;
    font-size: 35pt;
    padding:15px 5px 0 0;
    overflow-x: hidden;
    
}
#teclas {

    width: 85%;
    height: 280px;
    margin: auto;
    background-color: black;
}
table {
    display: grid;
}
tbody {
    margin: 5px auto;
    background-color: black;
    border: none;
}
td {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    position: relative;
    width: 55px;
    height: 48px;
    border-radius: 50%;
    color: white;
    background-color: black;
}
button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-size: 14pt;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(130deg, rgb(32, 32, 32), rgb(53, 53, 53), rgb(88, 88, 88));
}
button.clicado {
    transform: scale(.8);
}
button.clicado:hover {
    cursor: pointer;
    background: linear-gradient(310deg, rgb(32, 32, 32), rgb(53, 53, 53), rgb(88, 88, 88));
    transition: .2s ease ;
}